<div id="root">
  <!-- React App will mount here -->
</div>

{% schema %}
{
  "name": "React App Root",
  "settings": [],
  "presets": [
    {
      "name": "React App Root"
    }
  ]
}
{% endschema %}
